<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Leaders Page</title>
</head>
<body>
    <h2>luv2code Company Leaders Page</h2>
    <hr/>

    <p>
        See you in Brazil... for annual Leadership retreat!
        <br />
        Keep this trip secret, don't tell regular Employee LOL :-)
    </p>
    <hr />

    <p>
        <a th:href="@{/}">Back To Home Page</a>
    </p>
</body>
</html>